[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 2

[*rc]
indent_style = space

[*.json]
indent_style = space

[*.font]
indent_style = space
