node_modules
*.log

# boilerplate-server based apps
/packages/**/yarn.lock

/packages/cli/application/
/packages/cli/binary/
/packages/cli/configuration/
/packages/cli/library/

/packages/client/application/
/packages/client/assets/
/packages/client/binary/
/packages/client/configuration/
/packages/client/library/
/packages/client/assets/script/index.bundle.js

/packages/components/lib/
/packages/components/build/

/packages/server/application/
/packages/server/binary/
/packages/server/configuration/
/packages/server/library/

/packages/boilerplate-server/application/
/packages/boilerplate-server/binary/
/packages/boilerplate-server/configuration/
/packages/boilerplate-server/library/

/packages/patternplate-transform-babel/distribution
/packages/patternplate-transform-react-mount/index.js
/packages/patternplate-transform-react-to-markup/distribution
/packages/patternplate-transform-styled-components/index.js
