node_modules
*.log
.tmp
.serverless
package-lock.json
.yarn-metadata.json
.DS_Store

/packages/**/yarn.lock

/components/**/lib/
/packages/*/lib/
/packages/components/docs/patterns

/examples/*/lib
!/exmaples/default/lib
/examples/**/hello-world/

/docs/patterns
/patternplate-deploy
