node_modules
*.log
.tmp
.serverless
package-lock.json
.yarn-metadata.json
.DS_Store
*.tgz

/packages/**/yarn.lock

/cover/lib
/components/**/lib
/packages/*/lib
/tools/*/lib
/packages/components/docs/patterns

/examples/*/lib
!/exmaples/default/lib
/examples/**/hello-world/

/docs/patterns
/patternplate-deploy
