language: node_js
node_js:
  - 8
script:
  - echo "no main script"
jobs:
  include:
    - stage: test
      if: branch = master
      script:
        - yarn test --stream
        - yarn lerna run deps --stream
      script:
        - >-
          yarn build &&
          yarn run pack &&
          yarn components:build --stream &&
          ./.travis/decrypt.sh &&
          ./.travis/deploy.sh
    - stage: test
      if: branch != master
      script:
        - >-
          yarn build &&
          yarn run pack &&
          yarn components:build --stream &&
          ./.travis/deploy-pre.sh
