version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.11

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-

      - run: yarn install --ignore-engines

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run: yarn build
      - run: yarn test
      - run: yarn run pack
      - run: yarn build:components
      - run: ./.circleci/deploy-pre.sh

